
.imagen-juego {
    width: 550px;
    height: 550px; 
    object-fit: cover;
    transition: opacity 0.5s;
    margin-top: 280px;
    
}

.imagen-juego:hover {
    opacity: 0.7;
}

.descripcion-juego {
    padding: 10px 20px;
    font-size: 20px;
    color: coral;
    transition: color 0.5s;
    text-align: center;
    margin-top: 10px; 
}

.descripcion-juego:hover {
    color: lightblue;
}

a {
    text-decoration: none;
}

