* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  min-width: 100vw;
  flex-wrap: wrap;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-image: url('https://github.com/Annihilation78/CryptoCasino/raw/main/src/assets/casino.png');
  color: #333;
  display: flex;
  flex-direction: column;
}

.content-container h2 {
  color: white;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}


.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #1a2229;
  color: #fff;
  padding: 5px;
}

.header h1 {
  text-align: center;
}

.header h1 img {
  max-width: 80px;
  max-height: 80px;
  position: absolute;
    left: 1%;
    top: 9%;
}
.main-nav {
  color: #fff;
  padding: 5px 0;
  text-align: right;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  display: inline-block;
  margin-right: 25px;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #008cba;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.game-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
}

.game-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.btn {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
}

.btn:hover {
  opacity: 0.8;
}


.section {
  padding: 10px;
}


.promotion-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promotion-item {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex: 0 0 30%;
  display: flex;
  text-align: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.login-container {
  background-color: lightyellow;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  height: 450px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container li {
  list-style: none;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.8;
}

.py-6 {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  justify-content: center;
  padding: 10% 4%;
}

.content-container {
  padding: 0% 15%;
}




.sound-button {
  background-color: #4CAF50; /* Color de fondo */
  border: none; /* Sin bordes */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espaciado */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition-duration: 0.4s; /* Duración de la transición */
}

.sound-button:hover {
  background-color: white; /* Color de fondo al pasar el ratón */
  color: black; /* Color del texto al pasar el ratón */
}

html body div.login-container {height: 400 !important;}
