.support-container {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    flex-wrap: wrap;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #555;
    display: flex;
    flex-direction: column;
}

.support-main {
    padding: 20px;
    
}

.support-intro {
    text-align: center;
    margin-bottom: 20px;
}

.support-text {
    margin: 0 auto;
    width: 50%;
    line-height: 1.6;
    font-size: larger;
    padding: 70px 0px;
    text-align: center;
}

.support-faq {
    margin: 20px auto;
    width: 80%;
}

.support-title {
    font-size: 2.5em;
    padding-left: 10px;
    margin: 5px 10px;
    text-align: center;
}

.support-list-item {
    margin-bottom: 10px;
}

.support-contact {
    margin: 20px auto;
    width: 80%;
    margin-bottom: 20px;
}

.support-contact-method {
    margin-bottom: 20px;
}

.support-subtitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.support-contact-detail {
    font-size: 1em;
    line-height: 1.6;
}

.support-map {
    margin: 20px auto;
    width: 80%;
    margin-bottom: 20px;
}

.support-social {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    margin-top: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.social-icons svg {
    width: 24px;
    height: 24px;
    margin: 0 8px;
}

/* Estilos específicos para el AccordionButton */
.accordion-button {
    background: none; /* Asegura que no haya fondo morado */
    color: inherit; /* Mantiene el color original */
    border: none; /* Elimina cualquier borde predeterminado */
    padding: 20px; /* Asegura el padding adecuado */
    font-size: 2xl; /* Tamaño de fuente adecuado */
    font-weight: bold; /* Peso de la fuente adecuado */
  }
  
  .accordion-button:focus, .accordion-button:hover {
    text-decoration: none; /* Elimina la subrayado */
    color: inherit; /* Mantiene el color original */
  }
  
  .accordion-button:focus-visible {
    outline: none; /* Elimina el contorno de enfoque */
  }
  
  .accordion-button:visited {
    color: inherit; /* Mantiene el color original */
  }